body {
  background-color: #222222;
}
.form {
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  text-align: left;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
}
.form__input {
  margin-top: 10px;
  margin-bottom: 30px;
  height: 40px;
}
.form__input::placeholder {
  font-size: 1.5rem;
}
.form__button {
  height: 50px;
  background-color: #F4E131;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  border: none;

}
.form__header {
  color: #F4E131;
  font-size: 2rem;
  margin-top: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
